/*wrapper for main content below this point*/

.main-content-wrapper {
  opacity: .8;
  background-color: black;
  width: 100% !important;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
}

/*added some additional global styling for rows and columns*/

.row {
  color: white;
  max-width: 1000px;
}

.col {
  min-width: 280px;
  margin: 20px;
}

.main-content-wrapper a {
  text-decoration: none;
  color: rgb(115,194,190);
}

.main-content-wrapper a:hover {
  color: rgb(92,155,152);
}
