@import './Normalize.css';
@import './Globals.css';
@import './Grid.css';
@import './components/main/Main.css';
@import './components/nav/Nav.css';

.app {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-image: url("macbook-background.jpg");
  background-size: cover;
  background-position: right;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  margin: 0 auto;
}



* {
  margin: 0 auto;
}
