@import './Normalize.css';
@import './Globals.css';
@import './Grid.css';
@import './components/main/Main.css';
@import './components/header/Header.css';
@import './components/footer/Footer.css';

.app {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-image: url("macbook-background.jpg");
  background-size: cover;
  background-position: right;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  margin: 0 auto;
}

/*media query that sets the background image to centre when in mobile mode*/

@media screen and (max-width: 640px) {
  .app {
    background-position: center;
  }
}


* {
  margin: 0 auto;
}
